.botao {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .primario {
    background-color: #0072c6;
    color: white;
  }
  
  .secundario {
    background-color: #f28c1a;
    color: white;
  }

  .sucesso {
    background-color: #08A50F;
    color: white;
  }

  .perigo {
    background-color: #E22828;
    color: white;
  }
  
  .botao:hover {
    opacity: 0.5;
  }